<div id="wrap">
  <div class="center">
    <h1 style="zoom: 2; margin-top: 30%">☕️</h1>
    <h1 style="zoom: 1.5; color: #c5b59f">H E L L O !</h1>
    <p style="font-size: 17px; color: #747474">
      마중-길 용돈기입장에 오신 걸 환영합니다 💸
    </p>
    <br />
    <form style="margin-top: 10px">
      <mat-form-field style="width: 100%">
        <mat-label>당신의 이름은?</mat-label>
        <input matInput placeholder="이땡땡" />
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <mat-label>전화번호를 입력해주세요!</mat-label>
        <input matInput placeholder="01000000000" />
      </mat-form-field>
    </form>

    <br />
    <br />
    <button mat-raised-button (click)="go_main()">시작하기</button> <br /><br />
  </div>
</div>
